@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300&display=swap');
@import url("https://vaspacx-components.netlify.app/style.css");


.header-container{
    width:98vw;
    height:100vh;
    display:flex;
    position: relative;
}
.nav{
    font-family: 'Roboto', sans-serif;
    display: flex;
    position: absolute;
    justify-content: space-between;
    width: 80%;
    gap: 80px;
    margin-left: 20.2%;
    padding: 19px 40px;
    border-bottom: 1px solid rgb(81 82 83);
    height: 92px;
    background-color: rgb(0, 0, 0);
}


 ul{
    list-style:none;
}

.nav ul li{
     display: inline-block;
     margin:0px 18px 18px 0px;
}
/* sidebar  */
.vaspacx{
    font-family: 'Roboto', sans-serif;
    font-size: 42px;
    letter-spacing: 2px;
    padding-bottom: 23px;
    border-bottom: 1px solid rgb(77 83 86 / 95%);
    color:var(--primary-color);
}

.sidebar{
    font-family: 'Roboto', sans-serif;
    display: flex;
    padding: 20px 5px 0px 30px;
    width: 20%;
    height:100vh;
    position: fixed;
    background-image:url("./assets/sidebar.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    justify-content: column;
    flex-direction: column;
    border-right: 1px solid #594d4d;
}

/* sub-headings */
.margin-10px{
    margin:10px;
    padding:5px;
    width:3.5rem;
    border-radius:6px;
    transition:all 0.5s ease-in-out;
}

.margin-10px:hover{
    background-color:#80808026;
    border-radius:6px;
}

.details{
    background-color: gold;
    width:200px;
    height:400px;
}

/* social icons in nav */

.social-icons{
    margin-right: -6px;
}
.social-icons li a i{
    padding:10px;
    border-radius:50%;
    color:white;
    transition:all 0.5s ease-in-out;
}
.social-icons li a i:hover{
    box-shadow:0px 0px 10px 4px #124490;
    color:#124490;
}

/* detail section */

.detail{
    width: 98vw;
    height: 100vh;
    margin-left:22.7%;
    padding:20px 20px;
    margin-top: 94px;
}

.heading-detail{
    letter-spacing:1px;
    line-height: 36px;
    word-spacing: 12px;
}

.heading-detail::before{
      content:'V';
      font-size:50px;
      
}

.para-heading{
    letter-spacing: 3px;
    word-spacing: 4px;
    line-height: 23px;
}

/* colors-font */

.clr-blue{
color:var(--primary-color);
}

.para{
    line-height: 27px;
    word-spacing: 3px;
    letter-spacing: 1px;
    font-size: 18px; 
}

.para i{
    color:var(--grey-color);
}

a{
text-decoration:none;
color:var(--font-color);
}
.primary-btn{
    color: var(--font-color);
    background-color: var(--primary-color);
    border-radius: 5px;
    padding: 10px 10px;
    border: none;
}

.mg-btn{
    margin: 40px 5px 5px;
}

/* SECTION STARTED */
.h1-heading{
    text-align:center;
    font-size:50px;
}
.md-sz{
    font-size: 22px;
    letter-spacing: 3px;
    word-spacing: 4px;
    line-height: 42px;
}
section{
    margin-left: 20%;
    padding: 10px 48px 65px 48px;
    border-bottom: 1px solid var(--grey-color);
}


/* flex row */

.flex-row{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap:60px;
    width:600px;
    height:150px;
}